@{
    ViewData["Title"] = "Заказ создан - интернет-магазин Знаки Внимания";
}
<h3 class="h3">Заказ создан!</h3>
<a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>

