@model ProductViewModel
@{
    ViewData["Title"] = "Добавить продукт - Панель администратора";
}

<div class="container">
    <div class="row gap-3 flex-nowrap">
        <div class="col-2 shadow-lg">
            @await Html.PartialAsync("AdminMenu")
        </div>
        <div class="col-10 shadow-lg">
            <h4 class="h4 mb-3">Добавить продукт</h4>
            <form asp-area="Admin" asp-controller="Product" asp-action="Add" method="post" enctype="multipart/form-data">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div class="mb-3 d-flex align-items-center gap-3">
                    <label asp-for="Name" class="col-2 form-label">Наименование</label>
                    <div class="flex-grow-1">
                        <input asp-for="Name" class="form-control" required />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="mb-3 d-flex align-items-center gap-3">
                    <label asp-for="Cost" class="col-2 form-label">Цена</label>
                    <div>
                        <input type="number" asp-for="Cost" class="form-control w-auto" required />
                        <span asp-validation-for="Cost"></span>
                    </div>
                </div>
                <div class="mb-3 d-flex align-items-center gap-3">
                    <label asp-for="Description" class="col-2 form-label">Описание</label>
                    <div class="flex-grow-1">
                        <textarea asp-for="Description" class="form-control" rows="5" required></textarea>
                        <span asp-validation-for="Description"></span>
                    </div>
                </div>
                <div class="mb-3 d-flex align-items-center gap-3">
                    <label asp-for="UploadedFiles" class="col-2 form-label">Изображение</label>
                    <input type="file" accept="image/*" multiple asp-for="UploadedFiles" class="form-control" />
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-outline-dark w-25">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>

