@{
    ViewData["Title"] = "Пароль изменён - интернет-магазин Знаки Внимания";
}

<h4 class="h4">Пароль успешно изменён</h4>
<a class="btn btn-outline-secondary" asp-area="" asp-controller="UserPersonal" asp-action="Index" role="button">Вернуться</a>