@model Register
@{
    ViewData["Title"] = "Добавление пользователя - Панель администратора";
}

<div class="container">
    <div class="row gap-3 flex-nowrap">
        <div class="col-2 shadow-lg">
            @await Html.PartialAsync("AdminMenu")
        </div>
        <div class="col-10 shadow-lg">
            <h4 class="h4">Добавление нового пользователя</h4>
            <hr />
            <form asp-area="Admin" asp-controller="User" asp-action="Add" method="post">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="col-3">Логин:</td>
                            <td>
                                <input asp-for="UserName" class="form-control" required />
                                <span asp-validation-for="UserName"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-3">Пароль:</td>
                            <td>
                                <input type="password" asp-for="Password" class="form-control" required />
                                <span asp-validation-for="Password"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-3">Подтвердите пароль:</td>
                            <td>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" required />
                                <span asp-validation-for="ConfirmPassword"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mb-3 text-end">
                    <button class="btn btn-outline-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

