@model string
@{
    ViewData["Title"] = "Пароль изменён - Панель администратора";
}

<h4 class="h4">Пароль успешно изменён</h4>
<a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-userName="@Model" role="button">Вернуться</a>