@{
    ViewData["Title"] = "Регистрация - интернет-магазин Знаки Внимания";
}

<h4 class="h4">Регистрация выполнена успешно</h4>
<a class="btn btn-outline-info w-25 mb-3" role="button" asp-controller="Authorization" asp-action="Login">Авторизоваться</a>
