@model Login
@{
    ViewData["Title"] = "Авторизация - интернет-магазин Знаки Внимания";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 shadow-lg">
            <h3 class="h3 text-center">Вход</h3>
            <form asp-area="" asp-controller="Authorization" asp-action="Login" method="post">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />
                <div class="mb-3">
                    <input asp-for="UserName" class="form-control" placeholder="Логин" required />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="mb-3">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Пароль" required />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="mb-3 d-flex justify-content-center gap-2">
                    <input type="checkbox" asp-for="IsRemember" class="form-check-input" value="true" />
                    <label asp-for="IsRemember" class="form-check-label">Запомнить меня?</label>
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-outline-info w-75 mb-3">Войти</button>
                    <a class="btn btn-outline-light text-dark" role="button"
                        asp-area=""
                        asp-controller="Authorization"
                        asp-action="Register" 
                        asp-route-returnUrl="@Model.ReturnUrl">
                        Регистрация нового пользователя
                    </a>
                </div> 
            </form>
        </div>
    </div>
</div>
