@model string

<a class="nav-link text-dark btn btn-outline-light" role="button" asp-area="" asp-controller="Cart" asp-action="Index">
    <div class="d-flex flex-column align-items-center">
        <div>
            <i class="bi bi-cart"></i><sub>@Model</sub>
        </div>
        <span>Корзина</span>
    </div>
</a>