<li class="nav-item">
    @await Component.InvokeAsync("Favorites")
</li>
<li class="nav-item">
    @await Component.InvokeAsync("Cart")
</li>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole(Constants.AdminRoleName))
    {
        <li class="nav-item">
            <div class="dropdown">
                <button class="text-dark btn btn-outline-light d-flex flex-column align-items-center dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-gear"></i>
                    <span>Администратор</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="Index">Панель администратора</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item text-dark btn btn-outline-light" role="button"
                           asp-area=""
                           asp-controller="Authorization"
                           asp-action="Logout">
                            <span>Выйти</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <div class="dropdown">
                <button class="text-dark btn btn-outline-light d-flex flex-column align-items-center dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-check"></i>
                    <span>@User.Identity.Name</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Личные данные</a></li>
                    <li><a class="dropdown-item" href="#">Мои заказы</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item text-dark btn btn-outline-light" role="button"
                           asp-area=""
                           asp-controller="Authorization"
                           asp-action="Logout">
                            <span>Выйти</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    }
}
else
{
    <li class="nav-item">
        <button class="nav-link text-dark btn btn-outline-light" id="buttonLogin">
            <div class="d-flex flex-column align-items-center">
                <div>
                    <i class="bi bi-person"></i>
                </div>
                <span>Войти</span>
            </div>
        </button>
    </li>
}
