<div class="mb-3 container-fluid w-50">
    <form class="d-flex" role="search" asp-area="" asp-controller="Home" asp-action="Search">
        <input type="search" class="form-control" name="lineSearch" placeholder="Поиск" value="@ViewData["lineSearch"]">
        <button type="submit" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
    </form>
</div>