<h6 class="h6">
    <a class="link-dark text-decoration-none" asp-area="Admin" asp-controller="Order" asp-action="Index">Заказы</a>
</h6>
<h6 class="h6">
    <a class="link-dark text-decoration-none" asp-area="Admin" asp-controller="User" asp-action="Index">Пользователи</a>
</h6>
<h6 class="h6">
    <a class="link-dark text-decoration-none" asp-area="Admin" asp-controller="Role" asp-action="Index">Роли</a>
</h6>
<h6 class="h6">
    <a class="link-dark text-decoration-none" asp-area="Admin" asp-controller="Product" asp-action="Index">Продукты</a>
</h6>
